# Importing important libraries

In [550]:
import gzip
import json
import pandas as pd
import numpy as np

# loading Brand json file

In [551]:
data = []
with gzip.open('brands.json.gz', 'rt') as f:
    for line in f:
        data.append(json.loads(line))

brands = pd.DataFrame(data)

# loading Receipts json file

In [552]:
data = []
with gzip.open('receipts.json.gz', 'rt') as f:
    for line in f:
        data.append(json.loads(line))
receipts = pd.DataFrame(data)

# loading Users json file

In [553]:
data = []
with gzip.open('users.json.gz', 'rt') as f:
    for line in f:
        data.append(json.loads(line))

users = pd.DataFrame(data)

# Analyzing brands data

In [554]:
brands.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           1167 non-null   object
 1   barcode       1167 non-null   object
 2   category      1012 non-null   object
 3   categoryCode  517 non-null    object
 4   cpg           1167 non-null   object
 5   name          1167 non-null   object
 6   topBrand      555 non-null    object
 7   brandCode     933 non-null    object
dtypes: object(8)
memory usage: 73.1+ KB

In [555]:
brands.isna().sum()

_id               0
barcode           0
category        155
categoryCode    650
cpg               0
name              0
topBrand        612
brandCode       234
dtype: int64

# Performing Required transformations in Brands data

In [556]:
brands['_id'] = brands['_id'].apply(lambda x: x['$oid'])
brands['cpg'] = brands['cpg'].apply(lambda x: x['$ref'])
brands.head()

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,Cogs,test brand @1612366101024,False,NaN
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,Cogs,Starbucks,False,STARBUCKS
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,Cogs,test brand @1612366146176,False,TEST BRANDCODE @1612366146176
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,Cogs,test brand @1612366146051,False,TEST BRANDCODE @1612366146051
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,Cogs,test brand @1612366146827,False,TEST BRANDCODE @1612366146827

# Analyzing receipts data

In [557]:
receipts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      1119 non-null   object
 1   bonusPointsEarned        544 non-null    float64
 2   bonusPointsEarnedReason  544 non-null    object
 3   createDate               1119 non-null   object
 4   dateScanned              1119 non-null   object
 5   finishedDate             568 non-null    object
 6   modifyDate               1119 non-null   object
 7   pointsAwardedDate        537 non-null    object
 8   pointsEarned             609 non-null    object
 9   purchaseDate             671 non-null    object
 10  purchasedItemCount       635 non-null    float64
 11  rewardsReceiptItemList   679 non-null    object
 12  rewardsReceiptStatus     1119 non-null   object
 13  totalSpent               684 non-null    object
 14  userId                   1119 non-null   object
dtypes: float64(2), object(13)
memory usage: 131.3+ KB

In [558]:
receipts.isna().sum()

_id                          0
bonusPointsEarned          575
bonusPointsEarnedReason    575
createDate                   0
dateScanned                  0
finishedDate               551
modifyDate                   0
pointsAwardedDate          582
pointsEarned               510
purchaseDate               448
purchasedItemCount         484
rewardsReceiptItemList     440
rewardsReceiptStatus         0
totalSpent                 435
userId                       0
dtype: int64

# Performing Required transformations in receipts data

In [559]:
combined_lambda = lambda x: datetime.datetime.fromtimestamp(x['$date'] / 1000).strftime('%Y-%m-%d %H:%M:%S')if pd.notnull(x) else np.nan 

# Apply the combined lambda function to the column
receipts['createDate'] = receipts['createDate'].apply(combined_lambda)
receipts['dateScanned'] = receipts['dateScanned'].apply(combined_lambda)
receipts['finishedDate'] = receipts['finishedDate'].apply(combined_lambda)
receipts['modifyDate'] = receipts['modifyDate'].apply(combined_lambda)
receipts['pointsAwardedDate'] = receipts['pointsAwardedDate'].apply(combined_lambda)
receipts['purchaseDate'] = receipts['purchaseDate'].apply(combined_lambda)
receipts['_id'] = receipts['_id'].apply(lambda x: x['$oid'] if pd.notnull(x) else np.nan)
receipts.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)",2021-01-03 10:25:31,2021-01-03 10:25:31,2021-01-03 10:25:31,2021-01-03 10:25:36,2021-01-03 10:25:31,500.0,2021-01-02 19:00:00,5.0,"[{'barcode': '4011', 'description': 'ITEM NOT FOUND', 'finalPrice': '26.00', 'itemPrice': '26.00', 'needsFetchReview': False, 'partnerItemId': '1', 'preventTargetGapPoints': True, 'quantityPurchased': 5, 'userFlaggedBarcode': '4011', 'userFlaggedNewItem': True, 'userFlaggedPrice': '26.00', 'userFlaggedQuantity': 5}]",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)",2021-01-03 10:24:43,2021-01-03 10:24:43,2021-01-03 10:24:43,2021-01-03 10:24:48,2021-01-03 10:24:43,150.0,2021-01-02 10:24:43,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT FOUND', 'finalPrice': '1', 'itemPrice': '1', 'partnerItemId': '1', 'quantityPurchased': 1}, {'barcode': '028400642255', 'description': 'DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ', 'finalPrice': '10.00', 'itemPrice': '10.00', 'needsFetchReview': True, 'needsFetchReviewReason': 'USER_FLAGGED', 'partnerItemId': '2', 'pointsNotAwardedReason': 'Action not allowed for user and CPG', 'pointsPayerId': '5332f5fbe4b03c9a25efd0ba', 'preventTargetGapPoints': True, 'quantityPurchased': 1, 'rewardsGroup': 'DORITOS SPICY SWEET CHILI SINGLE SERVE', 'rewardsProductPartnerId': '5332f5fbe4b03c9a25efd0ba', 'userFlaggedBarcode': '028400642255', 'userFlaggedDescription': 'DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCED FAT BAG 1 OZ', 'userFlaggedNewItem': True, 'userFlaggedPrice': '10.00', 'userFlaggedQuantity': 1}]",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,2021-01-03 10:25:37,2021-01-03 10:25:37,NaN,2021-01-03 10:25:42,NaN,5,2021-01-02 19:00:00,1.0,"[{'needsFetchReview': False, 'partnerItemId': '1', 'preventTargetGapPoints': True, 'userFlaggedBarcode': '4011', 'userFlaggedNewItem': True, 'userFlaggedPrice': '26.00', 'userFlaggedQuantity': 3}]",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,2021-01-03 10:25:34,2021-01-03 10:25:34,2021-01-03 10:25:34,2021-01-03 10:25:39,2021-01-03 10:25:34,5.0,2021-01-02 19:00:00,4.0,"[{'barcode': '4011', 'description': 'ITEM NOT FOUND', 'finalPrice': '28.00', 'itemPrice': '28.00', 'needsFetchReview': False, 'partnerItemId': '1', 'preventTargetGapPoints': True, 'quantityPurchased': 4, 'userFlaggedBarcode': '4011', 'userFlaggedNewItem': True, 'userFlaggedPrice': '28.00', 'userFlaggedQuantity': 4}]",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,2021-01-03 10:25:06,2021-01-03 10:25:06,2021-01-03 10:25:11,2021-01-03 10:25:11,2021-01-03 10:25:06,5.0,2021-01-02 10:25:06,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT FOUND', 'finalPrice': '1', 'itemPrice': '1', 'partnerItemId': '1', 'quantityPurchased': 1}, {'barcode': '1234', 'finalPrice': '2.56', 'itemPrice': '2.56', 'needsFetchReview': True, 'needsFetchReviewReason': 'USER_FLAGGED', 'partnerItemId': '2', 'preventTargetGapPoints': True, 'quantityPurchased': 3, 'userFlaggedBarcode': '1234', 'userFlaggedDescription': '', 'userFlaggedNewItem': True, 'userFlaggedPrice': '2.56', 'userFlaggedQuantity': 3}]",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052

# Analyzing users data

In [560]:
users.isna().sum()

_id              0
active           0
createdDate      0
lastLogin       62
role             0
signUpSource    48
state           56
dtype: int64

In [561]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           495 non-null    object
 1   active        495 non-null    bool
 2   createdDate   495 non-null    object
 3   lastLogin     433 non-null    object
 4   role          495 non-null    object
 5   signUpSource  447 non-null    object
 6   state         439 non-null    object
dtypes: bool(1), object(6)
memory usage: 23.8+ KB

# Performing required transformations in Users data

In [562]:
combined_lambda = lambda x: datetime.datetime.fromtimestamp(x['$date'] / 1000).strftime('%Y-%m-%d %H:%M:%S')if pd.notnull(x) else np.nan 
# Apply the combined lambda function to the column
users['lastLogin'] = users['lastLogin'].apply(combined_lambda)
users['createdDate'] = users['createdDate'].apply(combined_lambda)
users['_id'] = users['_id'].apply(lambda x: x['$oid'] if pd.notnull(x) else np.nan)
users.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,2021-01-03 10:25:37,consumer,Email,WI
1,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,2021-01-03 10:25:37,consumer,Email,WI
2,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,2021-01-03 10:25:37,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 10:25:30,2021-01-03 10:25:30,consumer,Email,WI
4,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,2021-01-03 10:25:37,consumer,Email,WI

## saving users and brands dataframes as csv to load them in postgre sql database for further analysis

In [563]:
users.to_csv('users.csv',index=False)
brands.to_csv('brands.csv',index=False)

In [564]:
receipts.columns

Index(['_id', 'bonusPointsEarned', 'bonusPointsEarnedReason', 'createDate',
       'dateScanned', 'finishedDate', 'modifyDate', 'pointsAwardedDate',
       'pointsEarned', 'purchaseDate', 'purchasedItemCount',
       'rewardsReceiptItemList', 'rewardsReceiptStatus', 'totalSpent',
       'userId'],
      dtype='object')

## Performing transformation in Rewards Receipt item list column in recipts column

In [565]:
converted_column = [elem[0] for elem in receipts['rewardsReceiptItemList'] if isinstance(elem, list) and len(elem) > 0 and isinstance(elem[0], dict)]

In [566]:
receipts_na=receipts[receipts['rewardsReceiptItemList'].isna()==False]
receipts_na.reset_index(drop=True, inplace=True)

In [567]:
converted_column=pd.DataFrame(converted_column)
converted_column.head()

,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,userFlaggedBarcode,userFlaggedNewItem,...,itemNumber,needsFetchReviewReason,originalMetaBriteQuantityPurchased,pointsEarned,targetPrice,competitiveProduct,userFlaggedDescription,deleted,priceAfterCoupon,metabriteCampaignId
0,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,False,1,True,NaN,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,4011,True,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [568]:
merged_df=pd.concat([receipts_na,converted_column],axis=1)

In [569]:
merged_df.columns

Index(['_id', 'bonusPointsEarned', 'bonusPointsEarnedReason', 'createDate',
       'dateScanned', 'finishedDate', 'modifyDate', 'pointsAwardedDate',
       'pointsEarned', 'purchaseDate', 'purchasedItemCount',
       'rewardsReceiptItemList', 'rewardsReceiptStatus', 'totalSpent',
       'userId', 'barcode', 'description', 'finalPrice', 'itemPrice',
       'needsFetchReview', 'partnerItemId', 'preventTargetGapPoints',
       'quantityPurchased', 'userFlaggedBarcode', 'userFlaggedNewItem',
       'userFlaggedPrice', 'userFlaggedQuantity', 'originalMetaBriteBarcode',
       'originalMetaBriteDescription', 'pointsNotAwardedReason',
       'pointsPayerId', 'rewardsGroup', 'rewardsProductPartnerId', 'brandCode',
       'competitorRewardsGroup', 'discountedItemPrice',
       'originalReceiptItemText', 'itemNumber', 'needsFetchReviewReason',
       'originalMetaBriteQuantityPurchased', 'pointsEarned', 'targetPrice',
       'competitiveProduct', 'userFlaggedDescription', 'deleted',
       'priceAfterCoupon', 'metabriteCampaignId'],
      dtype='object')

In [570]:
merged_df['totalSpent']=merged_df['totalSpent'].astype(float)

In [571]:
merged_df.tail()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,...,itemNumber,needsFetchReviewReason,originalMetaBriteQuantityPurchased,pointsEarned,targetPrice,competitiveProduct,userFlaggedDescription,deleted,priceAfterCoupon,metabriteCampaignId
674,603c7c6c0a7217c72c0003b3,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01 00:32:28,2021-03-01 00:32:28,NaN,2021-03-01 00:32:29,NaN,25.0,2020-08-16 20:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,NaN
675,603c3d240a720fde10000373,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-02-28 20:02:28,2021-02-28 20:02:28,NaN,2021-02-28 20:02:29,NaN,25.0,2020-08-16 20:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,NaN
676,603cc2bc0a720fde100003e9,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01 05:32:28,2021-03-01 05:32:28,NaN,2021-03-01 05:32:29,NaN,25.0,2020-08-16 20:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,NaN
677,603cc0630a720fde100003e6,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01 05:22:27,2021-03-01 05:22:27,NaN,2021-03-01 05:22:28,NaN,25.0,2020-08-16 20:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,NaN
678,603ce7100a7217c72c000405,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-03-01 08:07:28,2021-03-01 08:07:28,NaN,2021-03-01 08:07:29,NaN,25.0,2020-08-16 20:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.97,NaN

## creating as receipts_1.csv as per our requirement which contains barcode data extracted from rewards receipt item list

In [582]:
merged_df[['_id','dateScanned','barcode','brandCode','purchasedItemCount','totalSpent','userId']].to_csv('receipts_1.csv',index=False)

In [574]:
receipts.columns

Index(['_id', 'bonusPointsEarned', 'bonusPointsEarnedReason', 'createDate',
       'dateScanned', 'finishedDate', 'modifyDate', 'pointsAwardedDate',
       'pointsEarned', 'purchaseDate', 'purchasedItemCount',
       'rewardsReceiptItemList', 'rewardsReceiptStatus', 'totalSpent',
       'userId'],
      dtype='object')

In [575]:
receipts['totalSpent']=receipts['totalSpent'].astype(float)

## creating as receipts_2.csv as per our requirement

In [583]:
receipts[['_id','rewardsReceiptStatus','totalSpent','purchasedItemCount','userId']].to_csv('receipts_2.csv',index=False)